---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Card from '../components/Card.astro';

import banner from '../images/banner.png'

---

<Layout title="Welcome to Astro.">
	<main class="max-w-[1204px] mx-auto px-4">
		<section>
			<Image src={banner} alt='Logo' class="w-full h-[575px]" />
		</section>

		<section class="mt-[60px]">
			<h2 class="text-5xl font-light">Our house designs</h2>

			<div class="grid grid-cols-3 gap-7 mt-8">
				<Card />
				<Card />
				<Card />
			</div>
		</section>
	</main>
</Layout>

